.btn-aligned {
  margin-top: 28px;
  font-weight: bold;
}

.select2 {
  width: 100%;
  height:36px;
}

.paginate_button.current {
  background-color: blue !important;
}

input[type=checkbox] {
    transform: scale(1.1);
}
